.contact {
    margin: 40px;
    display: flex;
    flex-direction: column;
    width: 90%;
}

.contact input {
    width: 100%;
    border: none;
    background-color: var(--light-grey);
    border-radius: 5px;
    padding: 5px;
}

.contact textarea {
    width: 100%;
    background-color: var(--light-grey);
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
}

.contact p {
    font-weight: 600;
}

.contact button {
    width: 100px;
    background-color: var(--pink);
    border: none;
    color: white;
    padding: 10px;
    font-weight: 600;
    border-radius: 50px;
    margin: 0 auto;
}